.pill-container {
   display: flex;
   gap: 10px; /* Adds space between pills */
   margin-top: 5px; /* Adds space below the pills */
   margin-bottom: 20px; /* Adds space below the pills */
}

.pill {
   font-size: 9px;
   display: inline-block;
   padding: 1px;
   background-color: #007bff; /* Primary color (blue) */
   color: white;
   border-radius: 20px; /* Makes the pill round */
   text-decoration: none;
   font-weight: bold;
   transition: background-color 0.3s ease; /* Smooth hover effect */
}

